.main {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-left: 8rem;
  padding-right: 8rem;
  min-height: 100vh;
  background-color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 0.1rem solid #ddd;
  margin-top: 1.5rem;
  text-align: left;
}

.button {
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.footer {
  font-weight: bold;
  text-align: right;
}

.footerLine {
  margin-right: 1.4rem;
  margin-top: 1rem;
}

.row {
  display: flex;
}

.input {
  width: 5rem;
  border-radius: 0.3rem;
  height: auto;
}

.radioButton {
  margin-top: 1rem;
  margin-left: 0.5rem;
}